<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ReCaptchaUi\Model\IsCaptchaEnabledInterface">
        <plugin name="magenable_captcha_bypass_plugin_is_captcha_enabled"
                type="Magenable\CaptchaBypass\Plugin\IsCaptchaEnabledPlugin" sortOrder="1" disabled="false"/>
    </type>
</config>
