<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="magenable_captcha_bypass" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Captcha Bypass</label>
            <tab>magenable</tab>
            <resource>Magenable_CaptchaBypass::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ip_whitelist" sortOrder="2" type="text" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Whitelisted IP addresses</label>
                    <comment>Comma separated, no spaces.</comment>
                </field>
                <field id="user_agent_whitelist" sortOrder="3" type="text" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Whitelisted User-Agent</label>
                </field>
            </group>
        </section>
    </system>
</config>
